
	.panel-title{
	      background-color: aliceblue;
	}
	.panel-body{
		    background-color: #ccc;
	}
	.col-md-6{
		padding-right: 0px;
		padding-left: 0px;
	}
	.body{
		margin-top: 40px;
	}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
  margin-top: 30px; 
  overflow-y: scroll;
}

html {
  position: relative;
  min-height: 100%;
}

body > .container {
  padding: 20px 15px 0;
  margin-bottom: 30px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.smaller{
  font-size: 12px;
}




.gravatar {
    border-radius: 20px;
    margin-top: -10px;
    
}



.whitebox{
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: inline-block;
    line-height: 40px;
    background: #D5B292;
    color: #2A1F1B;
    border-radius: 4px;
    font-weight: 400;
    margin: 10px 3px;
    text-align: center;
    vertical-align: bottom;
    cursor: default;
    box-shadow: 3px 3px 4px rgba(107, 107, 107, 0.8), inset 3px 0 2px rgba(255, 255, 255, 0.4), inset 0 3px 0px rgba(255, 255, 255, 0.5), inset -2px -3px 0px rgba(143, 128, 82, 0.6); 
  }


  .whitebox_dash{
    /*float: left;
    position: relative;*/
    width: 30px;
    height: 30px;
    font-size: 14px;
    display: inline-block;
    line-height: 30px;
    background: #D5B292;
    color: #2A1F1B;
    border-radius: 4px;
    font-weight: 800;
    margin: 10px 3px, 15px;
    text-align: center;
    vertical-align: bottom;
    cursor: default;
    box-shadow: 3px 3px 4px rgba(107, 107, 107, 0.8), inset 3px 0 2px rgba(255, 255, 255, 0.4), inset 0 3px 0px rgba(255, 255, 255, 0.5), inset -2px -3px 0px rgba(143, 128, 82, 0.6); 
  }
  
  


.wrap{
  width:310px;
}

.button{
  margin-bottom: 10px;
}

.duplicate{
  background: red;
    color: white;
 
}